requests
charset-normalizer
diffusers
bitsandbytes
einops
transformers>=4.28.1
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil
botocore
ml-dtypes
markupsafe
